@{
    ViewData["Title"] = "Home Page";
}

<p>
    Ez egy elgondolt oldal.<br />
    A Mérőóra állás bejelentéshez hasonló oldal,<br />
    ahol a bérlők ugyanazon adatokat tudják megnézni, csak havi nézetben. <br />
    Minden hónap egy külön blokkban, hogy mennyi volt az adott havi költsége.<br />
    <br />
    Ez nem volt a megállapodásban, ez kvázi ötlet...<br />
    <br />
    Valahogy így...
</p>


<img src="\images\superrent_havi.png" width:"100px" style="border-radius:5px; border:0px solid #bbb9b9"/>

<div class="text-center">
    
    <p>Longrent - Superrent    info@superrent.hu    +36 30 702 2899</p>
</div>