@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4"> A hex Mérőóra Bejelentő Rendszer</h1>
    <p>Hex MeroOra    info@HexMeroOra.hu    +36 30 123 4567</p>
    
</div>
