@* 29 retrieve all companies*@
@model IEnumerable<Company>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


@* 30 retrieve all companies*@

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Company Name
            </th>
            <th>
                Created
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td width="50%">
                    @obj.Name
                </td>
                <td width="30%">
                    @obj.CreatedDateTime
                </td>
            </tr>
        }
        </tbody>
</table>

